# compiled output
/dist
/node_modules
/build

package.json
package-lock.json

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
documentation/coverage.html
documentation/dependencies.html
yarn.lock
documentation/index.html
documentation/modules.html
documentation/overview.html
documentation/properties.html
documentation/classes/CreatePostDto.html
documentation/classes/CreatePostMetaOptionsDto.html
documentation/classes/CreateUserDto.html
documentation/classes/GetUsersParamsDto.html
documentation/classes/PatchPostDto.html
documentation/classes/PatchUserDto.html
documentation/controllers/AppController.html
documentation/controllers/AuthController.html
documentation/controllers/PostsController.html
documentation/controllers/UsersController.html
documentation/fonts/ionicons.eot
documentation/fonts/ionicons.svg
documentation/fonts/ionicons.ttf
documentation/fonts/ionicons.woff
documentation/fonts/ionicons.woff2
documentation/fonts/roboto-v15-latin-300.eot
documentation/fonts/roboto-v15-latin-300.svg
documentation/fonts/roboto-v15-latin-300.ttf
documentation/fonts/roboto-v15-latin-300.woff
documentation/fonts/roboto-v15-latin-300.woff2
documentation/fonts/roboto-v15-latin-700.eot
documentation/fonts/roboto-v15-latin-700.svg
documentation/fonts/roboto-v15-latin-700.ttf
documentation/fonts/roboto-v15-latin-700.woff
documentation/fonts/roboto-v15-latin-700.woff2
documentation/fonts/roboto-v15-latin-italic.eot
documentation/fonts/roboto-v15-latin-italic.svg
documentation/fonts/roboto-v15-latin-italic.ttf
documentation/fonts/roboto-v15-latin-italic.woff
documentation/fonts/roboto-v15-latin-italic.woff2
documentation/fonts/roboto-v15-latin-regular.eot
documentation/fonts/roboto-v15-latin-regular.svg
documentation/fonts/roboto-v15-latin-regular.ttf
documentation/fonts/roboto-v15-latin-regular.woff
documentation/fonts/roboto-v15-latin-regular.woff2
documentation/graph/dependencies.svg
documentation/images/compodoc-vectorise-inverted.png
documentation/images/compodoc-vectorise-inverted.svg
documentation/images/compodoc-vectorise.png
documentation/images/compodoc-vectorise.svg
documentation/images/coverage-badge-documentation.svg
documentation/images/favicon.ico
documentation/injectables/AppService.html
documentation/injectables/AuthService.html
documentation/injectables/PostsService.html
documentation/injectables/UsersService.html
documentation/js/compodoc.js
documentation/js/lazy-load-graphs.js
documentation/js/menu-wc_es5.js
documentation/js/menu-wc.js
documentation/js/menu.js
documentation/js/routes.js
documentation/js/sourceCode.js
documentation/js/svg-pan-zoom.controls.js
documentation/js/tabs.js
documentation/js/tree.js
documentation/js/libs/bootstrap-native.js
documentation/js/libs/clipboard.min.js
documentation/js/libs/custom-elements-es5-adapter.js
documentation/js/libs/custom-elements.min.js
documentation/js/libs/d3.v3.min.js
documentation/js/libs/deep-iterator.js
documentation/js/libs/es6-shim.min.js
documentation/js/libs/EventDispatcher.js
documentation/js/libs/htmlparser.js
documentation/js/libs/innersvg.js
documentation/js/libs/lit-html.js
documentation/js/libs/prism.js
documentation/js/libs/promise.min.js
documentation/js/libs/svg-pan-zoom.min.js
documentation/js/libs/tablesort.min.js
documentation/js/libs/tablesort.number.min.js
documentation/js/libs/vis.min.js
documentation/js/libs/zepto.min.js
documentation/js/search/lunr.min.js
documentation/js/search/search_index.js
documentation/js/search/search-lunr.js
documentation/js/search/search.js
documentation/miscellaneous/enumerations.html
documentation/miscellaneous/functions.html
documentation/modules/AppModule.html
documentation/modules/AuthModule.html
documentation/modules/PostsModule.html
documentation/modules/UsersModule.html
documentation/modules/AppModule/dependencies.svg
documentation/modules/AuthModule/dependencies.svg
documentation/modules/PostsModule/dependencies.svg
documentation/modules/UsersModule/dependencies.svg
documentation/styles/bootstrap-card.css
documentation/styles/bootstrap.min.css
documentation/styles/compodoc.css
documentation/styles/dark.css
documentation/styles/ionicons.min.css
documentation/styles/laravel.css
documentation/styles/material.css
documentation/styles/original.css
documentation/styles/postmark.css
documentation/styles/prism.css
documentation/styles/readthedocs.css
documentation/styles/reset.css
documentation/styles/stripe.css
documentation/styles/style.css
documentation/styles/tablesort.css
documentation/styles/vagrant.css
